body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
  }
  .signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .btn-custom {
    background-color: #e88f2a;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
  .btn-custom:hover {
    background-color: #e88f2a;
  }