html, body {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

h1, h4 {
    font-weight: unset;
}

/*For id*/
#header {
    background-color: #f8f1e9;
    width: 100%;
    height: 90px;
}

#header .frame-logo {
    background-color: #e88f2a;
    width: 40%;
    height: 80px;
    padding: 5px;
    float: left;
}

#header .border-frame-logo {
    margin: 5px;
    width: calc(100% - 14px);
    height: 68px;
    border: solid 2px white;
}

#header .logo {
    width: calc(100% - 14px);
    height: 50px;
    display: flex;
    margin-top: 3px;
    justify-content: center;
}

#header .logo .logo-img {
    float: left;

}

#header .logo .logo-title {
    float: right;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 250%;
    font-weight: 800;

}

#header .frame-left-header {
    width: 355px;
    height: 90px;
    float: left;
    padding: 30px 0px 0px 0px;
}

#header .content-frame-left {
    height: 60px;
}

#header .frame-left-header a {
    text-decoration: none;
    color: #e88f2a;
    font-size: 120%;
    font-weight: bold;

}

#header .frame-right-header {
    width: 355px;
    height: 60px;
    float: right;
    padding: 30px 0px 0px 0px;
}

#header .frame-right-header ul {
    margin: 0;
    padding: 0;
    float: right;

}

#header .frame-right-header ul li {
    margin: 0;
    padding: 0px 25px 0px 25px;
    list-style-type: none;
    float: left;
}

#header .frame-right-header i {
    color: #e88f2a;
    font-size: 150%;

}

/*For class*/
.container {
    width: 1200px;
    /*height: d90px;*/
    margin-left: auto;
    margin-right: auto;
}
.social-net-name {
    float: left;
    margin: 0 15px;

}